body {
  background-color: #30475e;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 100%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}


button{
    font-weight: bold;
    margin: 5%
}

.dice{
    padding: 5%
}

.progress{
    background-color: black;
    margin: 0 35% 0;
}

@media(max-width:890px){
    
    .progress{
    background-color: black;
    margin: 0 25% 0;
}
    h1{
        font-size: 5rem;
    }
    
}

.bar{
  background: white;
  text-align: center;
  line-height: 30px; 
  color: white;
}


.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

